.header-container{
    
}

.header-sub-container{
    margin-top:50px;
    margin-left: 40%;
}

.profileImage-box{
    height: 250px;
    width: 250px;
    background-color: #cc4b2c;
    border-radius:50%;
    overflow: hidden;
}
.profileImage-box:hover{
    background-color: #12d0d8;
}

.name{
    color:  #cc4b2c;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-style: italic;
    text-shadow: 0 2px 2px rgb(71, 255, 230);
}
.name:hover{
    color: #12d0d8;
    font-style: bold;
    text-shadow: 0 1px 1px rgb(255, 39, 39);
}
.profile-image{
    width:220px;
    border-radius:50%;
    margin-top: 30px;
    margin-left: 20px;
    
}

.profile-icon{
    color:#cc4b2c;
    transition:.3s;
    cursor: pointer;
}
.profile-icon:hover{
    color:#662616;
}

.resume-btn{
    width:80%;
    margin-left:10%;
    height: 70px;
    margin-top:60px;
    font-size: 20px;
    background-color:  #cc4b2c;
    border-radius:20px;
    cursor: pointer;
    transition:.3s;
}
.resume-btn-text{
    margin-left:44%;
    margin-top:-50px;
    color: #EAE7E6;
    cursor: pointer;
    font-size: 20px;
}
.resume-btn-text:hover{
    color: #FFFAFA;
    text-decoration: none;
  
}
.resume-btn:hover{
    background-color:  #662616;
   
}