.nav-icon{
    width:50px;
    border-radius: 50%;
    margin-left:40px;
    margin-right:400px;
    cursor: pointer;
}

.nav-link{
   
    color:#d44211;
    font-weight:400;
    
}


#nav-link {
    color: #e73b02;
    margin-right:60px;
    font-weight: 800;
    text-transform: uppercase;
}
#nav-link:hover {
    border-bottom: 2px solid #00ffd5 ;
    width:auto;
}

#nav-ContactMe{
    color:#d44211;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
}
#nav-ContactMe:hover{
    border-bottom: 2px solid deeppink ;
    width:auto;
}

.NavBar{
    background:transparent;
}
.NavBar:scroll{
    background:radial-gradient(#333,#000);
}